@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario: #F5EDED;
    --color-secundario: #7FA1C3;
    --color-terciario: #6482AD;
    --color-hover: #000000;


    --fuente-montserrat: "Montserrat", sans-serif;
    --funete-krona: "krona one", sans-serif;
}


* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

header {
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 180px;

}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.0rem;
    font-weight: 600;
    color:var(--color-terciario);
    text-decoration: none;
}

.cuerpo {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.encriptador{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.encriptador_funcion{
    font-size: 2.25rem;
    font-family: var(--funete-krona);
}


textarea     {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.encriptador_advertencia{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.EncriptarYDesencriptar1{
    width: 50%;
    text-align: center;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-primario);
    background-color: var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.EncriptarYDesencriptar2{
    width: 50%;
    text-align: center;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.resultado{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.botones_resultado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.boton_copiar{
    width: 105%;
    text-align: center;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-primario);
    background-color: var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-content: center;
}

.EncriptarYDesencriptar1:hover{
    background-color: var(--color-hover);
}

.EncriptarYDesencriptar2:hover{
    background-color: var(--color-hover);
}

.boton_copiar:hover{
    background-color: var(--color-hover);
}

.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .cuerpo{
        flex-direction: column;
        padding: 5%;
    }

    .botones{
        width: auto;
        flex-direction: column;
    }
    .EncriptarYDesencriptar1{
        width: auto;
    }
    .EncriptarYDesencriptar2{
        width: auto;
    }
}

